/*IMPORT FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
   
}
:root{
    --main--color: #632443 ;
    --bg--color:#f5f5f5;
    --text-color:#fff;
    --text-font-family: "Cairo", sans-serif;
}
body{
  background-color: var(--bg--color);
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}
section{
  flex: 1 1 100%;
  margin: 10px;
  margin-bottom: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0 , 0.1);
  min-height: 100vh;
  scroll-margin-top: 5rem;
}
/* تخصيص شريط التمرير */
::-webkit-scrollbar {
  width: 12px; 
}
/* تخصيص لون مسار شريط التمرير */
::-webkit-scrollbar-track {
  background: var(--bg--color); 
}
/* تخصيص لون مقبض شريط التمرير */
::-webkit-scrollbar-thumb {
  background-color: var(--main--color);
  border-radius: 6px; 
  border: 3px solid var(--bg--color); 
}
/* تخصيص لون مقبض شريط التمرير عند التمرير عليه */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main--color);
}

h1, h2 {
  color: var(--main--color);
  font-family: var(--text-font-family);
}
.header{
  position:fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--main--color);
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 100; 
}

.form-container{
  position: relative;
  right:0rem;
  top: 0;
}

.form-container label input{
  height: 40px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 4px;
  width: 250px;
}
.form-container label a{
  background-color: var(--bg--color);
  padding: 0px 15px;
  color: var(--main--color);
  border-radius: 2px; 
  transition: background-size 0.1s ease, color 0.1s ease;
  background-size: 0% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, var(--main--color) 0%, var(--main--color) 100%);
}

form label a:hover{
  background-size: 100% 100%;
  color: var(--text-color);
}


/*Start with tutorial style*/
/* General Styles */
.Edu-pro {
  position: relative;
  top: 8rem;
  right: 0;
  background-color: var(--bg--color);
  padding: 20px; /* Add padding for spacing */
}

.Edu-pro h1 {
  margin: 0 0 20px;
  font-family: var(--text-font-family);
  font-weight: 800;
  text-align: center;
}

.Edu-pro-content {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.level {
  background-color: var(--bg--color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--section-border-color);
}

.level h2 {
  margin-bottom: 15px;
}

.level ul {
  list-style-type: none;
  padding-left: 0;
  font-family: var(--text-font-family);
  font-weight: 700;
}

.level ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #000;
  padding-right: 20px;
  position: relative;
}

.level ul li::before {
  content: " •";
  color: var(--main--color);
  position: absolute;
  right: 0;
  top: 0;
}

strong{
  color: var(--main--color);
}
.level {
  margin-bottom: 30px;
  background-color: var(--section-bg-color);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--section-border-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease , margin-top 0.3s ease ;
}

.level:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px 5px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.level h2 {
  margin-bottom: 15px;
}
/*Start Teaching staff style*/
.Tstaff{
  position: relative;
  top: 8rem;
  right: 0;
}
.Tstaff , .Dev-team h1{
  margin: 0 0 20px;
  font-family: var(--text-font-family);
  font-weight: 800;
  text-align: center;
}
.teachers-container ,.contact-team {
  display: flex;
  flex-wrap: wrap;
}

.teacher-card ,.member-card{
  flex: 1 1 30%;
  margin: 10px;
  background-color: var(--bg--color);
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  width: 250px;
  padding: 10px;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.teacher-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px 5px rgba(0, 0, 0, 0.1);
}

.teacher-img , .member-img {
  width: calc(100% - 10px);
  height: 200px;
  margin: 5px;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.teacher-card , .member-card h2 {
  color: var(--main--color);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.teacher-card , .member-card p {
  color: #000;
  font-size: 14px;
  font-family: var(--text-font-family);
  line-height: 30px;
  font-weight: 700;
}

/* Start login*/
.login {
  position: relative;
  top: 15rem;
  margin-top: 10px;
  right: 0;
  align-items: center;
}

.login-container ,.Create-an-account-container, #student-form, #teacher-form {
  position: relative;
  justify-content: center;
  background-color: var(--bg--color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(52, 208, 221, 0.1);
  width: 80%;
  margin: 0 auto; 
  right: 0;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--text-font-family);
  color: var(--main--color);
  font-weight: 800;
}

.register-container h2{
  text-align: center;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container input {
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-family: var(--text-font-family);
  color: #000;
}

.input-container .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.role-select {
  display: flex;
  margin-bottom: 20px;
}
.role-select label {
  font-family: var(--text-font-family);
  margin: 10px;
  font-weight: 700;
}
.role-select label input[type="radio"] {
  margin: 0 15px;
 
}

.role-select input {
  margin-right: 5px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
} 


  .btn {
    padding: 10px 20px;
    background-color: var(--main--color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--text-font-family);
    margin-top: 10px;
  }


.btn:hover {
  background-color: #500c2f;; 
}

.link {
  text-align: center;
  margin-top: 20px;
}

.link a {
  color: var(--main--color);
  text-decoration: none;
  font-family: var(--text-font-family);
}

.link a:hover {
  text-decoration: underline;
}
/*Start Contact us*/
.contactUs{
  position: relative;
  top: 15rem;
  right: 0;
}
.contact-info, .contact-form, .map {
  position: relative;
  background-color: var(--bg--color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(52, 208, 221 , 0.1);
  width: 80%;
  margin: 25px auto; 
  right: 0;
  
}
.contactUs h1{
  margin:  20px;
  font-family: var(--text-font-family);
  font-weight: 800;
  text-align: center;
}
.Welcome-message{
  color: #000;
  margin: 20px;
  font-family: var(--text-font-family);
  font-weight: 800;
  text-align: center;
}
.contact-info h2, .contact-form h2, .map h2 {
  color: var(--main--color);
  margin-bottom: 15px;
}
.contact-info p{
  color: #000;
  margin: 20px 40px;
  font-family: var(--text-font-family);
  font-weight: 600;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
  font-family: var(--text-font-family);
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.contact-form button {
  background-color: var(--main--color);
  color: var(--text-color);
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--text-font-family);
}

.contact-form button:hover {
  background-color: #500c2f;
}
/*start Development team*/
.Dev-team{
  position: relative;
  top: 15rem;
  right: 0;
  justify-content: center;
}
.Dev-team h1{
margin-bottom: 25px;
justify-content: center;
}
.contact-team{
  margin: 15px;
}
.member-card{
  max-width: 400px;
  margin-left: 30px;
}
.member-card h2{
  text-align: center;
  font-weight: 900;
}
.member-card p{
  text-align: center;
}
.member-card:hover{
  transform: scale(1.05);
  box-shadow: 0 6px 12px 4px rgb(177, 40, 108);
}
 /*Strat Footer*/
 footer {
  width: calc(100% - 15px);
  background-color:var(--main--color); 
  color: var(--text-color);
  font-family: var(--text-font-family);
  padding: 10px 0; 
  text-align: center; 
  margin: auto; 
  
}

@media (min-width:786px){
.header .toggle-menu{
    display: none;
  }
  footer{
    margin: auto;
    margin-top: 15rem;
  }
}

.logo{
  position: relative;
  align-items: center;
  color: var(--text-color);
  margin:1.5rem 0.8rem 1.5rem;
  font-size: 1.8rem;
  font-family: var(--text-font-family);
  font-weight: 700;
}
.navbar a{
  color: var(--text-color);
  margin-right: 1.2rem;
  font-size: 1.2rem;
  font-family: var(--text-font-family);
  transition: .8s ease-out;
}

.navbar a:hover,
.navbar a.active{
   background-color: var(--bg--color);
   color: var(--main--color);
   border-radius: 5px;
   padding: 5px 8px;
   font-weight: 700;
}
.home{
  position: relative;
  top: 5rem;
  font-family: var(--text-font-family);
  line-height: 40px;
}
.home .home-content{
  padding: 20px;
  background-color: var(--bg--color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.home h1{
  margin-bottom: 10px;
  color: var(--main--color);
  font-family: 800;
}

.home img{
  max-width: 500px;
  height: auto;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 10px;
  float: left;
}
.home .home-content p{
  font-family: 600;
  color: #000;
  line-height: 40px;
  margin-bottom: 15px;
  text-align: start;
}
.home-content ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
}

.home-content ul li {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.home-content ul li:last-child {
  margin-bottom: 0;
}


@media (max-width:480px){
main{
  margin-bottom: 4rem;
}
.header .navbar a:nth-last-child(2){
    margin-bottom: 15px;
  }

  .home-content {
    padding: 20px;
    background-color: var(--bg--color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(52, 208, 221 , 0.1);
  }

  .home-content h1 {
    font-size: 22px;
    color: var(--main--color);
    text-align: center;
    margin-bottom: 15px;
  }
  .home-content img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(52, 208, 221 , 0.1);
  }
  .home-content p {
    font-size: 16px;
    color: #000;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
  }
.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-container form{
 width: 200px;
}

.home form label input {
  width: 200px;
}
.home form label a {
  padding: 5px 30px;
  background-color: var(--main--color) !important;
  color: var(--text-color) !important;
  font-family: 800;
}
.Edu-pro{
  top: 15rem;
  margin-bottom: 20px;
}
.Edu-pro h1{
  font-size: 18px;
}
.Edu-pro .Edu-pro-content .level h2{
  font-size: 16px;
}
.Edu-pro .Edu-pro-content .level ul{
  font-size: 14px;
}
.Tstaff ,.Dev-team{
  top: 15rem;
  margin-bottom: 20px;
}

.teachers-container ,.contact-team{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

.teacher-card ,.member-card {
  flex: 1 1 50%;
  width: 350px;
  margin: 15px;
  margin-top: 25px;
}

.login{
 margin-top: 35px;
 top: 15rem;
 
}
.login-container, #student-form, #teacher-form {
  width: 95%;
  padding: 15px;
  align-items: center;

}

.login-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  margin-bottom: 15px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin-top: 10px;
  font-size: 14px;
  right: 6rem;
}

.Welcome-message{
  text-align: center;
}
.contact-info{
  max-width: 100%;
}
.contact-info h2 {
 text-align: right;
}

.contact-info p{
  text-align: right;
  margin: 5px ;
  font-size: 14px;
}
.Dev-team{
  top: 21rem;
}
/*start footer*/
footer{
  position: relative;
  justify-content: center;
  right: 0;
  margin: auto;
  margin-top: 20rem;
}
}


@media (max-width:786px){
.header .navbar a:nth-last-child(1){
    margin-bottom: 15px;
}
.navbar {
    display: none;
    transition: max-height 1s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.home .home-content{
  position: relative;
  top: 0;
  margin: 15px;
}
.home-content img{
  max-width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 4px 6px rgba(52, 208, 221 , 0.1);
}
.home-content h1{
  text-align: center;
}
.navbar.active {
    display: flex;
    max-height: 400px;
}
.header .logo{
 align-items: center;

}
.toggle-menu{
  position: relative;
  color: var(--bg--color);
  right: 10px;
  font-size:1.5rem;
}
.header .logo {
  position: absolute;
  top: -15px;
  right: calc(40% - 40px);
  align-items: center;
  font-size: 20px;
}
.header .navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  width: 100%;
  background-color: var(--main--color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}


.header .navbar a {
  padding: 5px 10px;
  margin: 1px 10px;
  width: calc(100% - 20px);
  font-size: 15px;

}
.form-container form{
  width: 100%;
  left: 0;
  margin: 0 25px;
 }
 .form-container form label input {
   width: 200px;
 }
 .form-container form label a {
   padding: 5px 25px;
   background-color: var(--main--color) !important;
   color: var(--text-color) !important;
   font-family: 800;
 }

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.fa-xmark {
  transition: transform 0.8s ease; 
}

 .rotate-in {
  animation: rotateIn 0.8s forwards;
}
.level {
  padding: 15px;
  border-radius: 6px;
}

.level h2 {
  font-size: 1.3rem;
}

.level ul li {
  font-size: 0.9rem;
  padding-left: 15px;
}
.teachers-container , .contact-team{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.teacher-card ,.member-card{
  flex: 1 1 45%;
  max-width: 350px;
}
 footer{
  margin: auto;
  margin-top: 18rem;
} 
} 


@media (min-width:787px) and (max-width:1115px){
  .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--main--color);
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .logo{
    margin:1rem 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  .navbar a{
    color: var(--text-color);
    margin-right: 1rem;
    font-size: 1rem;
    font-family: var(--text-font-family);
    transition: .8s ease-out;
  }
.teachers-container , .contact-team{
  display: flex;
  flex-wrap: wrap;
}
  .teacher-card ,.member-card{
    flex: 1 1 35%;
    margin-left: auto;
    max-width: 350px;
  }
}


